.img {
    display: block;
    margin: auto;
    margin-top: 1em;
    height: 8.5em;
    width: 8.5em;
  }
  
  main div h2 {
    font-size: 3em;
  }
  
  h3 {
    text-align: center;
  }
  
  .produ__cajas__producto {
    display: inline-block;
    background-color: rgb(141, 79, 199);
    height: 13em;
    width: 13em;
    margin: 3em;
  }
  
  .textos--productos {
    font-size: 18px;
    font-weight: 750;
  }
  